<!-- livros.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Biblioteca de Livros</h2>

  {% if livros %}
    <ul>
      {% for livro in livros %}
        <li>
          <strong>{{ livro.titulo }}</strong><br>
          <em>{{ livro.autor }}</em><br>
          {% if livro.link %}
            <a href="{{ livro.link }}" target="_blank">Ler / Baixar</a>
          {% endif %}
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum livro disponível no momento.</p>
  {% endif %}
</div>
{% endblock %}

